 
body
{	
	background-color: #532C2C;
	color: white;
}
table
    {
	border: 1px white;
	background-color: #AB6565;
	width: 50%;
	border-collapse: collapse;
	text-align: center;
	margin-left: 20em;
	border-radius: 180px;
	outline: 5px solid white;
    }

h1
    {
        color: white;
        font-family: Georgia;
        font-size: 320%;
        font-weight: 10000;
        background-color: #AB6565;
    }

p
    {
        color: white;
        font-family: Sans serif;
        font-size: 110%;
        text-align: justify;
        margin-right: 15em;
        clear: right;
    }
b
    {
        color: white;
        font-family: Georgia;
        font-size: 120%;
        text-align: justify;
        margin-right: 15em;
        clear: right;
    }

ul, li
    {
       color: #FFFEFE;
       font-family: serif;
       list-style-type: circle;
       font-size: 120%;
    }

.center 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 97%;
}

.container {
	display: grid;
	align-items: start; 
	grid-template-columns: 30% 60%;
	column-gap: 10px;
	max width:800px;
	
}

img 
{       
	margin-left: 3em;
        padding: 1em;
        float: left;
  
}

.address {
	display: flex;
	align-items: center; 
}

.icon {
	width: 50px; 
	height: 30px;
	margin-right: 10px; 
}

}
footer{ 
padding:5px;
 text-align: center;
 font-weight: bold;
} 

}
section {
padding:5px;
 border: dashed 3px #0026ff;
 margin-top:5px;
} 






