body {
    background-color: #2B3A33; 
    color: #E8F5E9; 
}

table {
    border: 1px solid #A7D7C5; 
    background-color: #3E5641; 
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin-left: 20em;
    border-radius: 20px;
    outline: 3px solid #A7D7C5;
}

h1 {
    color: #2c463c; 
    font-family: Georgia, serif;
    font-size: 320%;
    font-weight: bold;
    background-color: #cdd8d3; 
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

p {
    color: #E8F5E9; 
    font-family: "Sans-serif";
    font-size: 115%;
    text-align: justify;
    margin-right: 10em;
    margin-left: 2em;
}


b {
    color: #A7D7C5; 
    font-family: Georgia, serif;
    font-size: 120%;
    text-align: center;

}

img
{      
margin-left: 3em;
        padding: 1em;
        float: left;
 
}



ul, li
    {
       color: #FFFEFE;
       font-family: serif;
       list-style-type: circle;
       font-size: 125%;
    }



h1, p, description {

 transition-property: background-color, color ;
 transition-duration: 1s;
 transition-timing-function:ease-in-out;
}

li:hover{
    background-color:#3a564b;
    
    }
    p:hover{
    background-color:#3a564b;
    
    }

    li :hover {
        transform: translate(15px, -15px);
      }

footer{
padding:5px;
 text-align: center;
 font-weight: bold;
}



